@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(215, 225, 235);
    font-family:  'Inter', sans-serif;
}


.canvass-main {
    background-color: rgb(201, 199, 199);
    width: 20rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    border-radius: 30px;
}

.innerCanvas {
    background-color: rgb(73, 73, 73);
    width: 18rem;
    height: 32rem;
    border-radius: 15px;
    padding-top: 2rem;
    box-shadow: 2px 5px 5px #dddddd8c;
    display: flex;
    justify-content: center;
}



.nameInfo{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 29rem;
    width: 14rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 10px;
    padding: 0 10px;
}


img {
    width: 14rem;
    height: 12rem;
    border-radius: 7px;
}

.text {
    color: white;
    font-size: 1rem;
    margin-top: 4px;
}

.text2 {
    color: grey;
    font-size: .7rem;
}

.connect {
    color: rgb(158, 166, 243);
    margin: 5px 0;
}

.icons-wrapper {
    display: flex;
}

#email {
    color: white;
    background-color: rgba(138, 138, 139, 0.952);
    padding: 2px 4px;
    border-radius: 3px;
    cursor: pointer;
}

#linkedIn {
    color: white;
    background-color: rgba(0, 0, 243, 0.952);
    padding: 2px 4px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 9px;
}

.text3 {
    margin-top: 12px;
}

#h4first {
    margin-bottom: 6px;
}

#h4second {
    margin: 5px 0 6px 0;
}

.ptag {
    color: rgb(177, 175, 175);
    font-size: .62rem;
}

.iconsSet {
    margin-top: 15px;
    background-color: rgb(36, 35, 35);
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 4rem;
    box-shadow: 3px 3px 2px rgba(36, 35, 35, 0.822) ;
}

.anchoricon {
   margin: 5px 25px 4.5px 25px ;
   font-size: 1rem;
   color: blue;
}